* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'Roboto Mono', monospace;
    font-size: 14px;
    background: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

body>header:after,
body>main:after,
body>footer:after {
    content: "";
    display: table;
    clear: both;
}

body>header {
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}

body>header .container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

body>header .logo {
    font-size: 18px;
    color: #000;
}

body>header .logo img {
    vertical-align: middle;
    margin-right: 0.5rem;
}

body>header ul.follow {
    margin-top: 0.4rem;
}

body>header ul.follow>li {
    float: left;
}

body>header ul.follow>li a {
    opacity: 0.6;
}

body>header ul.follow>li:hover a {
    opacity: 1;
}

body>main {}

body>main>section.introduction {
    overflow: hidden;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100vh;
    /* background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957, #F47711, #F7BF11, #F2E317, #3D8C34); */
}

body>main>section.introduction>article {
    float: left;
    width: 50%;
}

body>main>section.introduction>aside {
    float: right;
    width: 50%;
}

body>main>section.introduction>aside ul {
    position: relative;
}

body>main>section.introduction>aside ul>li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body>main>section.introduction>aside ul>li img {
    width: 100%;
}

body>footer {
    border-top: 1px solid #e0e0e0;
    padding-top: 1rem;
}

/* Define global styles */

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

a.btn {
    border: 1px solid green;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    background-color: yellow;
    display: inline-block;
}

a.btn:hover {}

a.btn:focus,
a.btn:active {}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Media */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.99px) {}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.99px) {}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.99px) {}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.99px) {}

/* Utilities */

.container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.valign-middle {
    vertical-align: middle;
}