html,
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-header {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
}


@media screen and (min-width: 64em) {

  .main-content,
  .page-header .header-content,
  #comment-sidebar {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {

  .main-content,
  .page-header .header-content,
  #comment-sidebar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 42em) {

  .main-content,
  .page-header .header-content,
  #comment-sidebar {
    padding: 2rem 1rem;
  }
}

.changelogs {
  border: 1px dashed #e0e0e0;
  padding: 25px;
  font-size: 0.83rem;
  margin-bottom: 25px;
  position: relative;
}

.changelogs.collapse {
  height: 200px;
  overflow: hidden;
}

.changelogs ul>li {
  margin-bottom: 15px;
}

.site-footer {
  padding-top: 1rem;
  overflow: hidden;
}

.site-footer .site-footer-credits {
  text-align: center;
}

.site-footer .site-footer-credits,
.site-footer .site-footer-credits a {
  color: inherit;
}

.site-footer .site-footer-credits a:hover {
  text-decoration: none;
}

.site-footer .site-footer-credits a>* {
  vertical-align: middle;
}

.site-footer .site-footer-credits a>i {
  font-weight: 600;
  font-size: inherit;
}

#show-more {
  display: block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 3px 0;
}

#show-more:hover {
  text-decoration: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.page-header {}

.page-header .header-body {
  /* max-width: 64rem;
  padding: 0 4rem;
  margin: 0 auto; */
}

.page-header a {
  color: inherit;
  text-decoration: none;
}

.page-header .project {
  text-align: left;
  flex-basis: 70%;
}

.page-header .project .project-name {
  margin-top: 0;
}

.page-header .project .tagline {
  font-weight: normal;
}